<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!-- The built-in function of protecting external links in Sitecore 8.2/9.0 doesn't work very well. Disable it if it's enabled -->
      <setting name="ProtectExternalLinksWithBlankTarget" set:value="false" />
      <!-- Some browsers doesn't support rel="noopener". To workaround this you may tell the module to add noreferrer too -->
      <setting name="Stendahls.Sc.RelNoOpener.AddNoReferrer" value="false" />
    </settings>
    <pipelines>
      <renderField>
        <processor patch:before="processor[@type='Sitecore.Pipelines.RenderField.GetLinkFieldValue, Sitecore.Kernel']" 
                   type="Stendahls.Sc.RelNoOpener.RenderLink, Stendahls.Sc.RelNoOpener"/>
      </renderField>
    </pipelines>
    <events>
      <event name="item:saving">
        <handler type="Stendahls.Sc.RelNoOpener.RichTextSavingHandler, Stendahls.Sc.RelNoOpener" method="OnItemSaving" />
      </event>
    </events>
  </sitecore>
</configuration>
