<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor patch:before="processor[@type='Sitecore.Pipelines.RenderField.GetLinkFieldValue, Sitecore.Kernel']" 
                   type="Stendahls.Sc.RelNoOpener.RenderLink, Stendahls.Sc.RelNoOpener"/>
      </renderField>
    </pipelines>
    <events>
      <event name="item:saving">
        <handler type="Stendahls.Sc.RelNoOpener.RichTextSavingHandler, Stendahls.Sc.RelNoOpener" method="OnItemSaving" />
      </event>
    </events>
  </sitecore>
</configuration>
